<web-app>
    <listener>
        <listener-class>ru.treejoy.servlets.listeners.AppContextListener</listener-class>
        <listener-class>ru.treejoy.servlets.listeners.SessionListener</listener-class>
    </listener>
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>ru.treejoy.servlets.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogIn</servlet-name>
        <servlet-class>ru.treejoy.servlets.LogIn</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogIn</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>ru.treejoy.servlets.SignUp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateCarAd</servlet-name>
        <servlet-class>ru.treejoy.servlets.CreateCarAd</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateCarAd</servlet-name>
        <url-pattern>/createcarad</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetCountries</servlet-name>
        <servlet-class>ru.treejoy.servlets.geo.GetCountries</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCountries</servlet-name>
        <url-pattern>/getcountries</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetCities</servlet-name>
        <servlet-class>ru.treejoy.servlets.geo.GetCities</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCities</servlet-name>
        <url-pattern>/getcities</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetBrands</servlet-name>
        <servlet-class>ru.treejoy.servlets.brands.GetBrands</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetBrands</servlet-name>
        <url-pattern>/getbrands</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetModels</servlet-name>
        <servlet-class>ru.treejoy.servlets.brands.GetModels</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetModels</servlet-name>
        <url-pattern>/getmodels</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetAllAds</servlet-name>
        <servlet-class>ru.treejoy.servlets.GetAllAds</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAllAds</servlet-name>
        <url-pattern>/getallads</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdInfo</servlet-name>
        <servlet-class>ru.treejoy.servlets.AddInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdInfo</servlet-name>
        <url-pattern>/getad</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Account</servlet-name>
        <servlet-class>ru.treejoy.servlets.Account</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Account</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>IsSaleStatus</servlet-name>
        <servlet-class>ru.treejoy.servlets.SetSale</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IsSaleStatus</servlet-name>
        <url-pattern>/setsale</url-pattern>
    </servlet-mapping>
</web-app>