<web-app>
    <listener>
        <listener-class>ru.treejoy.servlets.listeners.AppContextListener</listener-class>
        <listener-class>ru.treejoy.servlets.listeners.SessionListener</listener-class>
    </listener>
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>ru.treejoy.servlets.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogIn</servlet-name>
        <servlet-class>ru.treejoy.servlets.LogIn</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogIn</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
    <servlet-name>GetBrands</servlet-name>
    <servlet-class>ru.treejoy.servlets.GetBrands</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>GetBrands</servlet-name>
        <url-pattern>/getbrands</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>ru.treejoy.servlets.SignUp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateCarAd</servlet-name>
        <servlet-class>ru.treejoy.servlets.CreateCarAd</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateCarAd</servlet-name>
        <url-pattern>/createcarad</url-pattern>
    </servlet-mapping>
</web-app>